github "ishkawa/APIKit"
github "ikesyo/Himotoki"
github "kishikawakatsumi/KeychainAccess"
github "realm/realm-cocoa"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxRealm"
github "tarunon/Instantiate"
github "tarunon/Illuso"
github "tarunon/Barrel"
github "OAuthSwift/OAuthSwift"