github "ishkawa/APIKit"
github "ikesyo/Himotoki"
github "realm/realm-cocoa"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxRealm"
github "tryswift/TryParsec"
github "tarunon/Instantiate"
github "tarunon/Illuso"
github "tarunon/Barrel"
